<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/officehoursmangementsystem</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="com.AdministrableRoleAuthorizationsEntity"/>
        <mapping class="com.ApplicableRolesEntity"/>
        <mapping class="com.CharacterSetsEntity"/>
        <mapping class="com.CheckConstraintsEntity"/>
        <mapping class="com.CollationsEntity"/>
        <mapping class="com.CollationCharacterSetApplicabilityEntity"/>
        <mapping class="com.ColumnsEntity"/>
        <mapping class="com.ColumnsExtensionsEntity"/>
        <mapping class="com.ColumnPrivilegesEntity"/>
        <mapping class="com.ColumnStatisticsEntity"/>
        <mapping class="com.EnabledRolesEntity"/>
        <mapping class="com.EnginesEntity"/>
        <mapping class="com.EventsEntity"/>
        <mapping class="com.FilesEntity"/>
        <mapping class="com.InnodbBufferPageEntity"/>
        <mapping class="com.InnodbBufferPageLruEntity"/>
        <mapping class="com.InnodbBufferPoolStatsEntity"/>
        <mapping class="com.InnodbCachedIndexesEntity"/>
        <mapping class="com.InnodbCmpEntity"/>
        <mapping class="com.InnodbCmpmemEntity"/>
        <mapping class="com.InnodbCmpmemResetEntity"/>
        <mapping class="com.InnodbCmpPerIndexEntity"/>
        <mapping class="com.InnodbCmpPerIndexResetEntity"/>
        <mapping class="com.InnodbCmpResetEntity"/>
        <mapping class="com.InnodbColumnsEntity"/>
        <mapping class="com.InnodbDatafilesEntity"/>
        <mapping class="com.InnodbFieldsEntity"/>
        <mapping class="com.InnodbForeignEntity"/>
        <mapping class="com.InnodbForeignColsEntity"/>
        <mapping class="com.InnodbFtBeingDeletedEntity"/>
        <mapping class="com.InnodbFtConfigEntity"/>
        <mapping class="com.InnodbFtDefaultStopwordEntity"/>
        <mapping class="com.InnodbFtDeletedEntity"/>
        <mapping class="com.InnodbFtIndexCacheEntity"/>
        <mapping class="com.InnodbFtIndexTableEntity"/>
        <mapping class="com.InnodbIndexesEntity"/>
        <mapping class="com.InnodbMetricsEntity"/>
        <mapping class="com.InnodbSessionTempTablespacesEntity"/>
        <mapping class="com.InnodbTablesEntity"/>
        <mapping class="com.InnodbTablespacesEntity"/>
        <mapping class="com.InnodbTablespacesBriefEntity"/>
        <mapping class="com.InnodbTablestatsEntity"/>
        <mapping class="com.InnodbTempTableInfoEntity"/>
        <mapping class="com.InnodbTrxEntity"/>
        <mapping class="com.InnodbVirtualEntity"/>
        <mapping class="com.KeywordsEntity"/>
        <mapping class="com.KeyColumnUsageEntity"/>
        <mapping class="com.OptimizerTraceEntity"/>
        <mapping class="com.ParametersEntity"/>
        <mapping class="com.PartitionsEntity"/>
        <mapping class="com.PluginsEntity"/>
        <mapping class="com.ProcesslistEntity"/>
        <mapping class="com.ProfilingEntity"/>
        <mapping class="com.ReferentialConstraintsEntity"/>
        <mapping class="com.ResourceGroupsEntity"/>
        <mapping class="com.RoleColumnGrantsEntity"/>
        <mapping class="com.RoleRoutineGrantsEntity"/>
        <mapping class="com.RoleTableGrantsEntity"/>
        <mapping class="com.RoutinesEntity"/>
        <mapping class="com.SchemataEntity"/>
        <mapping class="com.SchemaPrivilegesEntity"/>
        <mapping class="com.StatisticsEntity"/>
        <mapping class="com.StGeometryColumnsEntity"/>
        <mapping class="com.StSpatialReferenceSystemsEntity"/>
        <mapping class="com.StUnitsOfMeasureEntity"/>
        <mapping class="com.TablesEntity"/>
        <mapping class="com.TablespacesEntity"/>
        <mapping class="com.TablespacesExtensionsEntity"/>
        <mapping class="com.TablesExtensionsEntity"/>
        <mapping class="com.TableConstraintsEntity"/>
        <mapping class="com.TableConstraintsExtensionsEntity"/>
        <mapping class="com.TablePrivilegesEntity"/>
        <mapping class="com.TriggersEntity"/>
        <mapping class="com.UserAttributesEntity"/>
        <mapping class="com.UserPrivilegesEntity"/>
        <mapping class="com.ViewsEntity"/>
        <mapping class="com.ViewRoutineUsageEntity"/>
        <mapping class="com.ViewTableUsageEntity"/>
        <mapping class="com.AppointmentEntity"/>
        <mapping class="com.CourseEntity"/>
        <mapping class="com.CoursetostaffEntity"/>
        <mapping class="com.CoursetostudentsEntity"/>
        <mapping class="com.MessageEntity"/>
        <mapping class="com.OfficehourEntity"/>
        <mapping class="com.StaffmemberEntity"/>
        <mapping class="com.StudentEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>